* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 5%;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 5%;
  height: 5%;
  margin-left: 10px;
}

header h1 {
  color: white;
}

.trybewarts-login {
  margin-right: 10px;
  display: flex;
}

.btn-header {
  padding: 8px 40px;
  background-color: blueviolet;
  border-radius: 8px;
  margin-left: 8px;
}

header input {
  width: 180px;
  height: 32px;
  border-radius: 8px;
  border: none;
  margin-left: 8px;
}

main {
  display: flex;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  
}
#id-formulario{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 50%;
}



#div-familia {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid gray;
  margin: 25px 0;
}



.label-family{
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

.label-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
}

.label-content input {
  margin-left: 40px;
  
}



body {
  border: 1px solid red;
}