* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 5%;
  background-color: rgb(50, 167, 145);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 5%;
  height: 5%;
  margin-left: 10px;
}

header h1 {
  color: white;
}

.trybewarts-login {
  margin-right: 10px;
}

.btn-header {
  padding: 8px 40px;
  background-color: blueviolet;
  border-radius: 8px;
  margin-left: 8px;
}

header input {
  width: 180px;
  height: 32px;
  border-radius: 8px;
  border: none;
  margin-left: 8px;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#id-imagem {
  margin-left: 400px;
}
